{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="date">
        	{% if post.published_date %}
            	{{ post.published_date }}
            	<a class="btn btn-default" href="{% url 'post_edit' id=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            	<a class="btn btn-default" href="{% url 'post_remove' id=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% else %}
            	<a class="btn btn-default" href="{% url 'post_edit' id=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            	<a class="btn btn-default" href="{% url 'blog.views.post_publish' id=post.pk %}">发布</a>
            	<a class="btn btn-default" href="{% url 'post_remove' id=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </div>
        
        
     	<h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endblock content %}